@using Microsoft.AspNetCore.Identity
@using Project_Page.Controllers

@{
    ViewData["Title"] = "Add Project";
    var addProject = new MongoDBService("Projects", "Project");
}

<style>
    .contact-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        text-align: center;
    }

        .contact-container h1,
        .contact-container h2,
        .contact-container p {
            margin-bottom: 20px;
        }

    .btn-group a {
        margin: 5px;
    }

    .auth-links a {
        margin: 10px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #f8f9fa;
        transition: background-color 0.3s;
    }

        .auth-links a:hover {
            background-color: #e2e6ea;
        }
</style>

<div class="contact-container">
    <h1>@ViewData["Title"]</h1>
    <p>This process is a CRUD process</p>

    @* <form > *@
    @*     <label for="fname">First name:</label><br> *@
    @*     <input type="text" id="fname" name="fname" value="John"><br> *@
    @*     <label for="lname">Last name:</label><br> *@
    @*     <input type="text" id="lname" name="lname" value="Doe"> *@
    @* </form> *@

    <form asp-page-handler="test" method="get">

        <button type="submit">Call Test</button>
    </form>

</div>
