[submodule "Resume-Builder-App"]
	path = Resume-Builder-App
	url = https://github.com/NareshKoirala/Resume-Builder-App
[submodule "Portfolio-Page"]
	path = Portfolio-Page
	url = https://github.com/NareshKoirala/Portfolio-Page
