@inherits LayoutComponentBase
@inject GlobalVarables GlobalVarable

<div class="page">

    @if (GlobalVarable.LogedIn)
    {

        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    }
    else if (GlobalVarable.ProcessLogIn)
    {
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh; /* Ensures the body takes full viewport height */
                margin: 0; /* Removes default margins */
            }

            #page {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>

            <LogInPhone />
    }
    else
    {
            <FirstPage />
    }


</div>




